.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin: 16px;
}

.pokemon-pagination {
  margin: 16px;
}

.navbar {
  background-color: #ff9e22;
  padding:  12px;
}

.title {
  font-size: 1.5rem;
  margin:  0;
}

